<div class="bottom text-light py-1 footer-image bg-black">

  <div class="container text-center">
    <h3>Like what you see?</h3>
    <!-- <p>Then give us a call and we'll chat through what you need. <br> We've got xxx . xxx .x x .x</p> -->
     <p>Get in touch with us to discuss your cigar needs.</p>

    <p>Call us at 18 184153184 to chat with our team</p>
    <!-- <p>test@test.com</p> -->
    <p>address area </p>
    <hr>
    <p>Stay up-to-date on new arrivals, promotions, and events by following us on social media.</p>

    <div class="mb-4">
      <a href="https://www.facebook.com" target="_blank" class="text-white mx-3">
        <i class="fab fa-facebook-f fa-2x"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="text-white mx-3">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="text-white mx-3">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </div>

  </div>

  <!-- <p> &copy; 2024 Cigar Store. All Rights Reserved.</p> -->
  <!-- <div class="container">
    <div class="row">

      <div class="col-md-3 mb-4 mb-md-0">
        <img src="logo.png" alt="Cigar Store Logo" class="img-fluid" style="max-width: 150px;">
      </div>

      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="text-gold mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-light text-decoration-none">About Us</a></li>
          <li><a href="/shop" class="text-light text-decoration-none">Shop</a></li>
          <li><a href="/customer-support" class="text-light text-decoration-none">Customer Support</a></li>
          <li><a href="/privacy-policy" class="text-light text-decoration-none">Privacy Policy</a></li>
          <li><a href="/terms-conditions" class="text-light text-decoration-none">Terms & Conditions</a></li>
        </ul>
      </div>


      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="text-gold mb-3">Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="https://facebook.com" target="_blank" class="text-light text-decoration-none">Facebook</a></li>
          <li><a href="https://instagram.com" target="_blank" class="text-light text-decoration-none">Instagram</a></li>
          <li><a href="https://linkedin.com" target="_blank" class="text-light text-decoration-none">LinkedIn</a></li>
          <li><a href="https://pinterest.com" target="_blank" class="text-light text-decoration-none">Pinterest</a></li>
        </ul>
      </div>

  <div class="text-center mt-4">
    <p class="mb-2 text-light">&copy; 2024 Cigar Store. All rights reserved.</p>
    <p class="text-light">You must be 21+ to purchase cigars.</p>
  </div>
   -->
</div>
