<div class="container-fluid header-mw d-flex align-items-center">
  <!-- Brand (Logo) -->
  <a class="navbar-brand logo-container" href="/">
    <img src="assets/images/logo.png" alt="Cigar N Smoke">
  </a>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark header-round flex-grow-1">
    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isAdminRoute && userLoggedIn">
          <a class="nav-link text-white" routerLink="/admin/addprod">Add Products</a>
        </li>
        <li class="nav-item" *ngIf="isAdminRoute && userLoggedIn">
          <a class="nav-link text-white" routerLink="/admin/manageprod">Manage Products</a>
        </li>
        <li class="nav-item" *ngIf="isAdminRoute && userLoggedIn">
          <a class="nav-link text-white" routerLink="/admin/config">Config</a>
        </li>
        <li class="nav-item" *ngIf="isAdminRoute && !userLoggedIn">
          <a class="nav-link text-white">Signin</a>
        </li>
        <li class="nav-item" *ngIf="isAdminRoute && userLoggedIn">
          <a class="nav-link text-white" (click)="signout()">Signout</a>
        </li>
        <li class="nav-item" *ngIf="!isAdminRoute">
          <a class="nav-link text-white" routerLink="/viewcigars">Cigars</a>
        </li>
        <li class="nav-item" *ngIf="!isAdminRoute">
          <a class="nav-link text-white" routerLink="/viewvapes">Vapes</a>
        </li>
        <li class="nav-item" *ngIf="!isAdminRoute">
          <a class="nav-link text-white" routerLink="/viewhumidors">Humidors</a>
        </li>
        <li class="nav-item" *ngIf="!isAdminRoute">
          <a class="nav-link text-white" routerLink="/viewtobacco">Tobacco</a>
        </li>
        <li class="nav-item" *ngIf="!isAdminRoute">
          <a class="nav-link text-white" routerLink="/viewhookah">Hookah</a>
        </li>
        <li class="nav-item" *ngIf="!isAdminRoute">
          <a class="nav-link text-white" routerLink="/viewaccess">Accessories</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-white" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/shop">Shop</a>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
