.dash-img {

  margin-top: 50px;

  /* background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/rW0HQAxkil74l5dkd/videoblocks-4k-abstract-3d-shockwave-vfx-web-field-turbulence-space-line-background-mov_h8hnwlfsn_thumbnail-1080_01.png'); */
  background-image: url('https://imgs.search.brave.com/-_Z1iM5HD7yFaZCyxjWqccx8PIiX_1akDsjAXogJg6Y/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQ5/OTU3NzM4MC9waG90/by9hYnN0cmFjdC1y/ZWFsaXN0aWMtc29m/dC1zbW9rZS1mb2ct/dmFwb3Itb24tYmxh/Y2stYmFja2dyb3Vu/ZC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9RlR2LUlkVWIw/Q0lQbm5YUDRkcWdI/VU81YTlMTS04c3pj/N0xYTndHc1RsST0');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-out;
  filter: grayscale(0%);
  transform: scale(1);
}

.dash-img.scale-up {
  transform: scale(0.8);
  filter: grayscale(100%);
  border-radius: 25px;
}
