<div #imageCarousel id="imageCarousel" class="carousel slide corousal-height rounded-5 box-c" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- Loop through images and create carousel items -->
    <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === 0">
      <app-image *ngIf="image?.imageUrl" [imageSrc]="image?.imageUrl" [alt]="'a promotion photo'"
        [class]="'img-carousal'" />
    </div>
  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- <app-dashboard-cigars></app-dashboard-cigars> -->
