<div class="form-row">
  <div class="form-group half-width form-adjust">
    <input type="file" (change)="onFileSelected($event)" />
    <button class="btn btn-primary" (click)="generateUrl()">Upload</button>
  </div>
</div>

<div class="cigar-container">
  <div class="cigar-list scroll">
    <div class="cigar-card" *ngFor="let singlePromotion of promotionSources">
      <div class="card-image promotions-image">
        <app-image *ngIf="singlePromotion?.imageUrl" [imageSrc]="singlePromotion?.imageUrl" [alt]="'a promotion photo'" [class]="''" />
        <!-- Trash Icon -->
        <button type="button" class="btn-delete" (click)="onDelete(singlePromotion)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
