<div id="video-preloader" *ngIf="preloaderEnabled">
  <video #preloaderVideo id="preloader-video" preload="auto" autoplay muted loop>
    <source src="https://i.imgur.com/EFsrnHL.mp4" type="video/mp4">
  </video>
</div>

<ng-container *ngIf="!preloaderEnabled">
  <div class="bg-blacka">
    <!-- Header -->
    <div class="card">
      <div class="card-header">
        <app-header></app-header>
      </div>
    </div>

    <!-- Main Content Area -->
    <main>
      <div class="main-body">
        <!-- Route-specific content will be rendered here -->
        <router-outlet></router-outlet>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</ng-container>


<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <h2>Are you 18 years of age or older?</h2>
    <div class="s">
      <button type="button" class="btn btn-outline-success me-2" (click)="verifyAge(true)">Yes</button>
      <button  type="button" class="btn btn-outline-danger" (click)="verifyAge(false)">No</button>
    </div>
  </div>
</div>

