.container {
  width: 300px;
  margin: 25px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.options {
  margin: 10% auto;
  border-radius: 75px;
  border: 5px solid #dbd3d3;
  box-shadow: -12px 0px 13px 2px black;
}

.config-pill {
  cursor: pointer;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 2px dotted gray;
  border-radius: 15px;
  background-color: gray;
  font-size: medium;
  font-weight: bold;
}


h1 {
  text-align: center;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
